.containerNavbar {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  padding: 2vh 4vw;
}
.logo {
  width: 10vw;
}
.menu {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: last baseline;
}

.menu li {
  list-style: none;
  font-weight: bold;
  color: rgb(143, 68, 15);
}
.menu li:hover {
  color: rgb(213, 106, 29);
  cursor: pointer;
}
.cartWidgetContainer {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  margin-bottom: 2vh;
}
