.logo {
  width: 15vh;
  margin: 2vh;
}
.links {
  text-decoration: inherit;
  color: inherit;
}
.menuItem {
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 5px;
  text-align: left;
  color: rgb(143, 68, 15);
}
.menuNavbar {
  margin: 3vh auto;
  color: rgb(143, 68, 15);
}
@media (width < 900px) {
  .logo {
    display: none;
  }
}
